<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.xunjie.www.model.common.mail.mapper.AppMailLogMapper" >
  <resultMap id="BaseResultMap" type="cn.xunjie.www.model.common.mail.AppMailLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mailHost" property="mailhost" jdbcType="VARCHAR" />
    <result column="sendMailUserName" property="sendmailusername" jdbcType="VARCHAR" />
    <result column="senderAddress" property="senderaddress" jdbcType="VARCHAR" />
    <result column="acceptAddress" property="acceptaddress" jdbcType="VARCHAR" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CreateBy" property="createby" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="UpdateBy" property="updateby" jdbcType="VARCHAR" />
    <result column="IsDel" property="isdel" jdbcType="INTEGER" />
    <result column="authCode" property="authcode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.xunjie.www.model.common.mail.AppMailLog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mailHost, sendMailUserName, senderAddress, acceptAddress, subject, Status, CreateTime, 
    CreateBy, UpdateTime, UpdateBy, IsDel, authCode
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.xunjie.www.model.common.mail.AppMailLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_mail_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.xunjie.www.model.common.mail.AppMailLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_mail_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_mail_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_mail_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.xunjie.www.model.common.mail.AppMailLogExample" >
    delete from app_mail_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.xunjie.www.model.common.mail.AppMailLog" >
    insert into app_mail_log (id, mailHost, sendMailUserName, 
      senderAddress, acceptAddress, subject, 
      Status, CreateTime, CreateBy, 
      UpdateTime, UpdateBy, IsDel, 
      authCode, content)
    values (#{id,jdbcType=INTEGER}, #{mailhost,jdbcType=VARCHAR}, #{sendmailusername,jdbcType=VARCHAR}, 
      #{senderaddress,jdbcType=VARCHAR}, #{acceptaddress,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{createby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{updateby,jdbcType=VARCHAR}, #{isdel,jdbcType=INTEGER}, 
      #{authcode,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xunjie.www.model.common.mail.AppMailLog" >
    insert into app_mail_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mailhost != null" >
        mailHost,
      </if>
      <if test="sendmailusername != null" >
        sendMailUserName,
      </if>
      <if test="senderaddress != null" >
        senderAddress,
      </if>
      <if test="acceptaddress != null" >
        acceptAddress,
      </if>
      <if test="subject != null" >
        subject,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="createby != null" >
        CreateBy,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
      <if test="updateby != null" >
        UpdateBy,
      </if>
      <if test="isdel != null" >
        IsDel,
      </if>
      <if test="authcode != null" >
        authCode,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mailhost != null" >
        #{mailhost,jdbcType=VARCHAR},
      </if>
      <if test="sendmailusername != null" >
        #{sendmailusername,jdbcType=VARCHAR},
      </if>
      <if test="senderaddress != null" >
        #{senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="acceptaddress != null" >
        #{acceptaddress,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        #{subject,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="authcode != null" >
        #{authcode,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.xunjie.www.model.common.mail.AppMailLogExample" resultType="java.lang.Integer" >
    select count(*) from app_mail_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update app_mail_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mailhost != null" >
        mailHost = #{record.mailhost,jdbcType=VARCHAR},
      </if>
      <if test="record.sendmailusername != null" >
        sendMailUserName = #{record.sendmailusername,jdbcType=VARCHAR},
      </if>
      <if test="record.senderaddress != null" >
        senderAddress = #{record.senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptaddress != null" >
        acceptAddress = #{record.acceptaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.subject != null" >
        subject = #{record.subject,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createby != null" >
        CreateBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateby != null" >
        UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
      <if test="record.isdel != null" >
        IsDel = #{record.isdel,jdbcType=INTEGER},
      </if>
      <if test="record.authcode != null" >
        authCode = #{record.authcode,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update app_mail_log
    set id = #{record.id,jdbcType=INTEGER},
      mailHost = #{record.mailhost,jdbcType=VARCHAR},
      sendMailUserName = #{record.sendmailusername,jdbcType=VARCHAR},
      senderAddress = #{record.senderaddress,jdbcType=VARCHAR},
      acceptAddress = #{record.acceptaddress,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      IsDel = #{record.isdel,jdbcType=INTEGER},
      authCode = #{record.authcode,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update app_mail_log
    set id = #{record.id,jdbcType=INTEGER},
      mailHost = #{record.mailhost,jdbcType=VARCHAR},
      sendMailUserName = #{record.sendmailusername,jdbcType=VARCHAR},
      senderAddress = #{record.senderaddress,jdbcType=VARCHAR},
      acceptAddress = #{record.acceptaddress,jdbcType=VARCHAR},
      subject = #{record.subject,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=INTEGER},
      CreateTime = #{record.createtime,jdbcType=TIMESTAMP},
      CreateBy = #{record.createby,jdbcType=VARCHAR},
      UpdateTime = #{record.updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{record.updateby,jdbcType=VARCHAR},
      IsDel = #{record.isdel,jdbcType=INTEGER},
      authCode = #{record.authcode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xunjie.www.model.common.mail.AppMailLog" >
    update app_mail_log
    <set >
      <if test="mailhost != null" >
        mailHost = #{mailhost,jdbcType=VARCHAR},
      </if>
      <if test="sendmailusername != null" >
        sendMailUserName = #{sendmailusername,jdbcType=VARCHAR},
      </if>
      <if test="senderaddress != null" >
        senderAddress = #{senderaddress,jdbcType=VARCHAR},
      </if>
      <if test="acceptaddress != null" >
        acceptAddress = #{acceptaddress,jdbcType=VARCHAR},
      </if>
      <if test="subject != null" >
        subject = #{subject,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createby != null" >
        CreateBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateby != null" >
        UpdateBy = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="isdel != null" >
        IsDel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="authcode != null" >
        authCode = #{authcode,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xunjie.www.model.common.mail.AppMailLog" >
    update app_mail_log
    set mailHost = #{mailhost,jdbcType=VARCHAR},
      sendMailUserName = #{sendmailusername,jdbcType=VARCHAR},
      senderAddress = #{senderaddress,jdbcType=VARCHAR},
      acceptAddress = #{acceptaddress,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      IsDel = #{isdel,jdbcType=INTEGER},
      authCode = #{authcode,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xunjie.www.model.common.mail.AppMailLog" >
    update app_mail_log
    set mailHost = #{mailhost,jdbcType=VARCHAR},
      sendMailUserName = #{sendmailusername,jdbcType=VARCHAR},
      senderAddress = #{senderaddress,jdbcType=VARCHAR},
      acceptAddress = #{acceptaddress,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      CreateBy = #{createby,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      UpdateBy = #{updateby,jdbcType=VARCHAR},
      IsDel = #{isdel,jdbcType=INTEGER},
      authCode = #{authcode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>